---
import Layout from '@layouts/Layout.astro';
---

<Layout title='EmoPorEmilio'>
  <img width='400px' src='logo.svg' />
  <h1 class='text-4xl font-semibold text-primary-100 drop-shadow-title-primary'>
    ¡Buenas, buenas, entusiastas de la tecnología!
  </h1>
  <p class='font-sen text-center text-lg text-primary-200'>
    Me llamo Emilio Franceschini, me dicen Emo y tengo 30 años.
  </p>
</Layout>

<script></script>

<style></style>
