---
import Layout from '@layouts/Layout.astro';
---

<Layout title='EmoPorEmilio'>
  <main></main>
</Layout>"

<script></script>

<style>
  main {
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  main-canvas {
    width: 400px;
    height: 400px;
  }
</style>
