---
import Layout from '../layouts/Layout.astro';


---

<Layout title="EmoPorEmilio">
	<main>
		<canvas id="main-canvas"></canvas>
	</main>
</Layout>

<script>
try {

const canvas = document.getElementById('main-canvas') as HTMLCanvasElement;
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;
const centerX = canvas.width / 2;
const centerY = canvas.height / 2;
const ctx = canvas.getContext('2d') as CanvasRenderingContext2D;
ctx.beginPath();
ctx.fillStyle = '#DF5C9A';
ctx.fillRect(centerX-50, centerY + 50, 100, 100);
ctx.strokeStyle = 'white';
ctx.lineWidth = 16;
ctx.arc(centerX, centerY, 100, 0, Math.PI * 2);
ctx.stroke();
ctx.beginPath();
ctx.strokeStyle = '#DF5C9A';
ctx.lineWidth = 8;
ctx.arc(centerX + 50, centerY, 25, 0, Math.PI * 2);
ctx.stroke();
ctx.beginPath();
ctx.strokeStyle = '#75ABC7';
ctx.lineWidth = 8;
ctx.arc(centerX - 50, centerY, 25, 0, Math.PI * 2);
ctx.stroke();


} catch {}

</script>

<style>
	main {
		margin: 0;
		width: 100%;
		height: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	main-canvas {
		width: 100%;
		height: 100%;
	}
</style>
