---
import Layout from '../layouts/Layout.astro';
---

<Layout title="EmoPorEmilio">
	<main>
		<canvas id="main-canvas"></canvas>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	main-canvas {
		width: 100%;
		height: 100%;
	}
</style>
