---
import Layout from '@/layouts/WebLayout.astro';
---

<Layout title='EmoPorEmilio'>
  <div class='grid w-full px-8 grid-cols-2 max-w-[400px] gap-4'>
    <div
      class='place-items-center col-span-2 md:p-10 p-4 rounded-xl border border-primary-700 bg-bg-200 hover:bg-bg-300'>
      <img src='images/projects/proyecto-viviana.png' />
    </div>
    <div
      class='place-items-center col-span-1 md:p-10 p-4 rounded-xl border border-primary-700 bg-bg-200 hover:bg-bg-300'>
      <img class='max-w-11' src='images/projects/pokebro.png' />
    </div>
    <div
      class='place-items-center col-span-1 md:p-10 p-4 rounded-xl border border-primary-700 bg-bg-200 hover:bg-bg-300 max-w-[200px]'>
      <img class='max-w-11' src='images/projects/lol-uy.png' />
    </div>
    <div
      class='place-items-center col-span-1 md:p-10 p-4 rounded-xl border border-primary-700 bg-bg-200 hover:bg-bg-300 w-full'>
      <img class='max-w-11' src='images/projects/emoporemilio.png' />
    </div>
    <div
      class='place-items-center col-span-1 md:p-10 p-4 rounded-xl border border-primary-700 bg-bg-200 hover:bg-bg-300 w-full'>
      <img class='max-w-11' src='images/projects/akade.svg' />
    </div>
  </div>
</Layout>

<script></script>

<style></style>
