---
interface Props {
	title: string;
}
import '@fontsource/jost';
import '@fontsource/sen';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Página personal de EmoPorEmilio. " />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" id="activity-favicon" href="/favicon-on.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-jost bg-bg-100">
		<nav class="bg-bg-400 border-b-2 border-accent-500 text-xl font-sen">
			<div class="logo">
				<a href="/">
					<img src="/logo.png"  alt="Logo" />
				</a>
			</div>
			<a class="text-primary-100 hover:text-primary-500" href="/">INICIO</a>
			<a class="text-primary-100 hover:text-primary-500" href="/audiovisual">AUDIOVISUAL</a>
			<a class="text-primary-100 hover:text-primary-500" href="/blog">BLOG</a>
			<a class="text-primary-100 hover:text-primary-500" href="/about">SOBRE MÍ</a>
		</nav>
		<slot />
	</body>
</html>
<script>
window.onblur=function(){
	var link: any = document.querySelector("link[rel~='icon']");
	link.href = '/favicon-off.png';
}
window.onfocus=function(){
	var link: any = document.querySelector("link[rel~='icon']");
	link.href = '/favicon-on.png';
}
</script>
<style is:global>
	html, body {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: white;
		width: 100%;
		height: 100%;
	}
	.logo {
		display: flex;
		align-items: start;
		flex: 1;
	}
	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0.5rem 1.5rem 0.5rem 1.5rem;
		gap: 2rem;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
