---
interface Props {
	title: string;
}
import '@fontsource/jost';
import '@fontsource/sen';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Página personal de EmoPorEmilio. " />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" id="activity-favicon" href="/favicon-on.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-jost">
		<nav>
			<a href="/">INICIO</a>
			<a href="/blog">BLOG</a>
			<a href="/about">SOBRE MÍ</a>
		</nav>
		<slot />
	</body>
</html>
<script>
window.onblur=function(){
	var link: any = document.querySelector("link[rel~='icon']");
	link.href = '/favicon-off.png';
}
window.onfocus=function(){
	var link: any = document.querySelector("link[rel~='icon']");
	link.href = '/favicon-on.png';
}
</script>
<style is:global>
	html, body {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: white;
		width: 100%;
		height: 100%;
	}
	a {
		color: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
