---
interface Props {
  title: string;
}
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/Header';
import type { HeaderLink } from '@/components/types';

const { pathname } = Astro.url;
const currentLinkClass =
  'text-primary-500 pointer-events-none font-light tracking-[0.065em]';
const hoverLinkClass = 'text-primary-100 hover:text-accent-200';

const checkClass = (path: string) => {
  return pathname === path || pathname === path + '/'
    ? currentLinkClass
    : hoverLinkClass;
};

const links: HeaderLink[] = [
  {
    href: '/home',
    text: 'INICIO',
    class: checkClass('/home'),
  },
  {
    href: '/blog',
    text: 'BLOG',
    class: checkClass('/blog'),
  },
  {
    href: '/projects',
    text: 'PROYECTOS',
    class: checkClass('/projects'),
  },
  {
    href: '/about',
    text: 'SOBRE MÍ',
    class: checkClass('/about'),
  },
];

const { title } = Astro.props as Props;
---

<BaseLayout title={title}>
  <Header client:only='solid-js' links={links} />
  <div class='bg-bg-400'>
    <main
      class='p-6 flex flex-col items-center justify-center border-t-2 border-accent-500 rounded-t-xl bg-bg-100'>
      <slot />
    </main>
  </div>
</BaseLayout>

<script></script>
